.video-card a{
  color: black;
  text-decoration: none;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-card {
  outline: 1px solid black;
  margin: 10px;
  width: 200px;
}

.Videos h1 {
  text-align: center;
}